/* Variables */

$total-height: 420px;
$total-width: 350px;

$temp-light-green: #90EE90;
$display-screen-background: #E9E9E9;
$display-screen-text: #4D4D4D;
$number-btn-color: #666666;
$operation-btn-color: #848484;

$input-and-parentheses-size: 30px;

* {
	font-family: 'Open Sans';
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#calculator-body {
	border-radius: 3px;
	height: $total-height;
	overflow: hidden;
	width: $total-width;
}

#screen {
	background-color: $display-screen-background;
	color: $display-screen-text;
	height: (2/6)*$total-height;
	overflow: hidden;
	position: relative;
	z-index: -1;
	div {
		float: right;
		
	}
}

#input-display {
	display: inline-block;
	font-size: $input-and-parentheses-size;
	overflow: hidden;
	white-space: nowrap;
	padding: 5px 10px 5px 10px;
	/*background-color: pink;*/
}

#open-parentheses {
	color: #B5B5B5;
	/*display: none;*/
	font-size: $input-and-parentheses-size;
	
	white-space: nowrap;
	/*background-color: green;*/
}

#output-display {
	font-size: 30px;
	padding: 5px 10px 5px 10px;
	position: relative;
}

.btn {
	@extend .no-select;
	color: white;
	cursor: pointer;
	display: inline-block;
	$btn-height: (4/6)*(1/4)*$total-height;
	height: $btn-height;
	line-height: $btn-height;
	font-size: 35px;
	text-align: center;
	width: (2/5)*(1/2)*$total-width;
}

#number-btn-area, #operation-btn-area {
	display: inline-block;
	height: (4/6)*$total-height;
	position: relative;
	z-index: 1;
}

#number-btn-area {
	border-radius: 0px 0px 0px 2px;
	width: (3/5)*$total-width;
}

.number-btn {
	background-color: $number-btn-color;
}

#operation-btn-area {
	border-radius: 0px 0px 2px 0px;
	float: right;
	width: (2/5)*$total-width;
}

.operation-btn {
	background-color: $operation-btn-color;
}

$clear-aimation-size: 400px;
#clear-animation {
	background-color: #7EC0EE;
	border-radius: 360px;
	bottom: 270px;
	right: 20px;
	height: $clear-aimation-size;
	margin: 0 auto;
	position: relative;
	width: $clear-aimation-size;
	z-index: -1;	
}